---
import config from 'virtual:starlight/user-config'
import { logos } from 'virtual:starlight/user-images'

const { siteTitle, siteTitleHref } = Astro.locals.starlightRoute
---

<a href={siteTitleHref} class="site-title">
  {
    config.logo && logos.dark && (
      <>
        <img
          class:list={[{ 'light:sl-hidden': !('src' in config.logo) }, 'logo-size']}
          alt={config.logo.alt}
          src={logos.dark.src}
          width={logos.dark.width}
          height={logos.dark.height}
        />
        {/* Show light alternate if a user configure both light and dark logos. */}
        {!('src' in config.logo) && (
          <img
            class="dark:sl-hidden logo-size"
            alt={config.logo.alt}
            src={logos.light?.src}
            width={logos.light?.width}
            height={logos.light?.height}
          />
        )}
      </>
    )
  }
  <span class:list={[{ 'sr-only': config.logo?.replacesTitle }, 'title-text']}>
    {siteTitle}
  </span>
</a>

<style>
  .logo-size {
    --at-apply: size-6;
  }

  .site-title {
    --at-apply: gap-4 items-center flex mr-2;
  }

  .title-text {
    --at-apply: font-700 hidden text-3;
    white-space: nowrap;
    overflow: hidden;
    color: hsl(var(--foreground)) !important;
  }

  @media (min-width: 480px) {
    .site-title {
      --at-apply: gap-1.5 mr-3;
    }

    .title-text {
      --at-apply: text-[0.85rem] inline-block;
    }
  }

  @media (min-width: 640px) {
    .site-title {
      --at-apply: gap-2 mr-4;
    }

    .title-text {
      --at-apply: text-[0.9rem] max-w-[150px];

    }
  }

  @media (min-width: 1024px) {
    .site-title {
      --at-apply: mr-6;
    }

    .title-text {
      --at-apply: text-4 max-w-none;
    }
  }

  a {
    text-decoration: inherit;
  }
</style>
