---
import { getRelativeLocaleUrl } from 'astro:i18n'
import userConfig from 'virtual:starlight-theme-destyler-config'
import { getTranslation } from './NavBar.astro'

const { siteTitleHref, sidebar } = Astro.locals.starlightRoute
---

<div popover="auto" id="drawer">
  <button class="sheet-overlay" popovertarget="drawer" popovertargetaction="hide"></button>
  <div class="content">
    <div class="header">
      <button class="drag-icon" popovertarget="drawer" popovertargetaction="hide"><span></span></button>
    </div>
    <div class="body">
      <div class="links-nav">
        <a href={siteTitleHref}>Home</a>
        {
          userConfig.navLinks?.map((nav) => {
            const absoluteLinkRegex = /^https?:\/\//

            const link
              = !absoluteLinkRegex.test(nav.link) && Astro.currentLocale
                ? getRelativeLocaleUrl(Astro.currentLocale, nav.link)
                : nav.link
            const label = typeof nav.label === 'string' ? nav.label : getTranslation(nav.label, nav.link, 'label')

            return (
              <a href={link} {...nav.attrs}>
                {label}
                {nav.badge && <span class="badge">{nav.badge}</span>}
              </a>
            )
          })
        }
      </div>

      <div class="links-docs">
        {
          sidebar.map(
            entry =>
              entry.type !== 'link' && (
                <div class="container-sidebar-entry">
                  <h4 class="entry-title">{entry.label}</h4>

                  {entry.entries.map(
                    link =>
                      link.type === 'link' && (
                        <a href={link.href} {...link.attrs}>
                          {link.label}
                        </a>
                      ),
                  )}
                </div>
              ),
          )
        }
      </div>
    </div>
  </div>
</div>

<style>
  button {
    --at-apply: [all:unset];
  }

  [popover] {
    --at-apply: fixed top-0 left-0 w-screen h-screen flex op-0 pointer-events-none items-center flex-col justify-end z-[1000] border-[none];
    transition: 0.1s linear;
    background: transparent;
  }

  [popover]::backdrop {
    background: rgba(0, 0, 0, 0.8);
  }

  [popover]:popover-open {
    --at-apply: op-100 pointer-events-auto;
  }

  [popover]:popover-open .content {
    --at-apply: translate-y-[0%];
  }

  .sheet-overlay {
    --at-apply: fixed z-[-1] w-screen h-screen opacity-10 left-0 top-0;
    background-color: transparent;
  }

  .content {
    --at-apply: bg-background w-full relative max-h-screen h-[50vh] max-w-[1150px]
    translate-y-full shadow-[0_10px_20px_rgba(0,0,0,0.03)] rounded-[12px_12px_0_0];
    transition: 0.3s ease;
  }

  .header {
    --at-apply: flex justify-center;
  }

  .header .drag-icon span {
    --at-apply: block w-25 h-0.4 bg-muted rounded-[9999px] mt-4;
  }

  .body {
    --at-apply: h-full overflow-y-auto p-6;
  }

  .body::-webkit-scrollbar {
    --at-apply: w-0;
  }

  .links-nav {
    --at-apply: flex flex-col gap-3;
  }

  .links-nav a {
    --at-apply: text-base leading-6 text-inherit [text-decoration:inherit];
  }

  .links-docs {
    --at-apply: flex flex-col gap-2;
  }

  .container-sidebar-entry {
    --at-apply: flex flex-col gap-2 pt-6;
  }

  .entry-title {
    --at-apply: font-medium;
  }

  .container-sidebar-entry a {
    --at-apply: text-base leading-6 [text-decoration:inherit] text-muted-foreground;
  }

  .badge {
    --at-apply: text-xs leading-4 font-normal leading-none no-underline
    text-black ml-2 px-1.5 py-0.5 rounded-md [background:#adfa1d];
  }
</style>
